<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VBoxStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VBoxStarter.Properties.Settings>
            <setting name="VirtualBoxPath" serializeAs="String">
                <value>C:\Program Files\Oracle\VirtualBox</value>
            </setting>
            <setting name="VMs" serializeAs="String">
                <value>Ubuntu Tomcat 8</value>
            </setting>
            <setting name="ProcessExitWaitTimeSeconds" serializeAs="String">
                <value>30</value>
            </setting>
        </VBoxStarter.Properties.Settings>
    </applicationSettings>
</configuration>